{% extends 'layouts/tienda.html' %} {% block content %}
<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="">

                <div class="card">
                    <div class="card-header">
                        <strong>CARRITO</strong>
                    </div>
                    <div class="card body">
                        {% load humanize %}
                        <h6>Total: <strong> 
                            CLP. {{ importe_total_carro | intcomma }}
                        </strong></h6>

                    </div>

                    <div class="card-element">
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th>Item</th>
                                    <th colspan="3">Cantidad</th>
                                    <th>Subtotal</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="py-4">
                                {% if request.session.carro.items %} {% for key, value in request.session.carro.items %}
                                <tr>
                                    <td>{{ value.nombre }}</td>

                                    {% load bootstrap_icons %}
                                    <td class="text-center" colspan="3">
                                        {{ value.cantidad }}
                                        <a href="{% url 'tienda:addcart' value.producto_id %}" class="" type="button"><i class=""></i></a>

                                        <a class="" href="{% url 'tienda:restarcart' value.producto_id %}" type="button"><i class=""></i> </a>
                                    </td>

                                    <td class="text-center">Gs.{{ value.precio }} </td>
                                    <td class="text-center">
                                        <a class="" href="{% url 'tienda:delcart' value.producto_id %}" type="button"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %} {% else %}
                                <tr>
                                    <td colspan="5">
                                        <div class="">

                                            No se agregaron productos al carrito

                                        </div>
                                </tr>
                                </tr>
                                {% endif %}

                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer">
                        {% if request.session.carro.items %}
                        <a class="" href="{% url 'tienda:procesar_compra' %}">Procesar Compra</a> {% else %}
                        <a class="" href="#">Procesar Compra</a> {% endif %}
                    </div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <a href="/ " class="">Volver a Tienda</a>
                    <a href="{% url 'tienda:cleancart' %}" class="">Limpiar Carrito</a>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}