{% extends 'layouts/tienda.html' %} {% block content %}
<div class="">
    <div class="container-fluid">
        <h3 class="">CHECKOUT</h3>

        <div class="row">
            <div class="">
                <div class="card">
                    <form method="get" action="">
                        <h5 class="text-center">
                            <strong>Información del comprador</strong></h5>
                        <div class="form-group">
                            <input id="nombre" class="" type="text" name="nombre" placeholder="{{ user.username }}" readonly>
                        </div>
                        <div class="form-group">
                            <input id="email" class="" type="email" name="email" placeholder="{{ user.email }}" readonly>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input id="telefono" class="" type="text" name="telefono" placeholder="Teléfono de contacto">
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <a class="" type="submit"> Confirmar Info </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="">
                <div class="card">

                    <a class="" href="{% url 'tienda:cart' %}"> Volver al carrito </a>
                    <hr>
                    <h5 class=""><strong>Resumen de la Compra</strong></h5>
                    <p><strong>Items:{{ order.get_cart_items }}  </strong></p>
                    <p><strong>Total:{{ order.get_total_order }} </strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}