{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shink-to-fit=no">
    <meta name="description" content="" />
    
    <title>Document</title>
    <!--Favicon-->
    <link rel="icon" type="imagen/x-icon" href="{% static 'assets/'%}">
    <!--bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--aqui link para agregar los css-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!--aqui link para agregar los js -->
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    
</body>
</html>