{% extends 'layouts/tienda.html' %} {% load static %} {% block content %}
<div class="">
    <div class="container">
        <div class="">
            <div class="card-header">
                <div class="text-center">
                    <h3 class="">Login</h3>
                    <img src="{% static '' %}" width="50" heigth="50">
                </div>
                {% load crispy_forms_tags %} {{ form | crispy }}
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %} 

                        <div class="text-center ">
                            <button class="" type='submit'>Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}