{% extends 'layouts/tienda.html' %} {% load static %} {% block content %}
<div class="min-vh-100 d-flex flex-colum py-4">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-4 mx-auto bg-dark text-white animate__animated animate__bounceInDown animate__delay-0.4s">
            <div class="card">
                <div class="card-body py-2">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-danger">INICIAR SESIÓN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}